@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

body,
html {
  font-family: "Sarabun", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* main */
main {
  padding: 1rem;
}

/* container-manageUser */
.container-manageUser {
  padding: 1rem;
}

/* header page */
.header-page {
  display: flex;
  align-items: center;
  width: 100%;
}
.header-page i {
  margin-right: 0.3rem;
  font-size: 16pt;
}

/* content */
.content {
}

/* link */
.link {
  display: flex;
  gap: 10px;
}
.link a {
  /* border: 1px solid black; */
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 15px;
  padding: 0.3rem 2rem;
}

/* btn_add_admin */
.btn_add_admin {
  margin-left: auto;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.btn_add_admin a {
  display: block;
  border-radius: 15px;
  background: green;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  color: white;
}
.btn_add_admin a:hover {
  color: white;
  background: rgb(0, 99, 0);
  scale: calc(1.05);
}
.btn_add_admin a i {
  margin-right: 0.3rem;
}

/* btn_add_staff */
.btn_add_staff {
  margin-left: auto;
  color: white;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.btn_add_staff a {
  display: block;
  border-radius: 15px;
  background: green;
  padding: 0.4rem 1rem;
  cursor: pointer;
  transition: 0.3s ease;
  text-decoration: none;
  color: white;
}
.btn_add_staff a:hover {
  color: white;
  background: rgb(0, 99, 0);
  scale: calc(1.05);
}
.btn_add_staff a i {
  margin-right: 0.3rem;
}

/* btn_admin */
.btn_admin {
  border: 2px solid red;
  color: red;
  padding: 0.5rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}
.btn_admin:hover {
  color: white;
  background: rgb(208, 0, 0);
}

/* btn_staff */
.btn_staff {
  border: 2px solid green;
  color: green;
  padding: 0.5rem;
  transition: 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.btn_staff:hover {
  color: white;
  background: rgb(0, 99, 0);
}

/* class table */
.table {
  margin-top: 1.5rem;
  max-width: 100%;
  /* border: 1px solid black; */
}

/* form */
.form {
  width: 30%;
}

/* table container */
.table-container {
  background: rgb(245, 245, 245);
  margin-top: 1rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
  width: 100%;
}
