body,
html {
  font-family: "Sarabun", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

/* nav */
nav {
  display: flex;
  justify-content: end;
  padding: 0.8rem 1rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

/* link */
.link a {
  display: block;
  border: 1px solid black;
  text-decoration: none;
  border: 2px solid blue;
  color: blue;
  padding: 0.3rem 1rem 0.5rem 1rem;
  border-radius: 10px;
  transition: 0.3s ease;
  cursor: pointer;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.link a:hover {
  color: white;
  background: blue;
}
.link a i {
  padding-right: 0.3rem;
}
